<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="layout/layout :: head">
	<title>Gestión de categorias</title>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class=" container py-4 ml-5 mr-5">
		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
				<h4 class="card-title">
					<a th:href="@{/nueva-categoria}" class="btn btn-primary"><i class="fas fa-plus-circle"></i> Agregar categoría</a>
				</h4>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>ID</th>
							<th>Nombre</th>
							<th>Descripción</th>
							<th></th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="categoria : ${categorias}">
							<td th:text="${categoria.id}"></td>
							<td th:text="${categoria.nombre}"></td>
							<td th:text="${categoria.descripcion}"></td>
							<td><a class="btn btn-info btn-sm"
								th:href="@{/categoria/} + ${categoria.id}"><i class="fas fa-info-circle"></i> Detalles</a></td>
							<td><a
								class="btn btn-warning btn-sm"
								th:href="@{/editar-categoria/} + ${categoria.id}"><i class="fas fa-edit"></i> Editar</a></td>
							<td><a
								class="btn btn-danger btn-sm"
								th:href="@{/eliminar-categoria/} + ${categoria.id}"
								onclick="return confirm('¿Estás seguro de eliminar al empleado?');"><i class="fas fa-trash-alt"></i> Eliminar</a></td>
						</tr>
					</tbody>
				</table>
				<nav th:replace="paginator-nav :: paginator"></nav>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>